<div class="page-header d-flex justify-content-between">
  <h2>Files</h2>
  <a href="#" class="files-toggler">
    <i class="ti-menu"></i>
  </a>
</div>

<div class="row">
  <!--<div class="col-xl-3 files-sidebar">
    <sc-dashboard-folders
      [filesFilter]="filesFilter$ | async"
      (filesFilterChange)="filesFilterChange($event)">
    </sc-dashboard-folders>
  </div>-->
  <div class="col-xl-12">
   <!-- <div class="content-title mt-0">
      <h4>Documents</h4>
    </div>-->
    <div class="d-md-flex justify-content-between mb-4">
      <sc-dashboard-files-filters
        [filesQueryParams]="filesQueryParams$ | async"
        [dates]="filesQueryParams$ | async"
        [channels]="(conversationsResponse$ | async)?.channels"
        [filesDeleting]="filesDeleting$ | async"
        (filesQueryParamsOverride)="onFilesQueryParamsOverride($event)"
        (filesQueryParamsChange)="onFilesQueryParamsChange($event)"
      >
      </sc-dashboard-files-filters>
      <sc-file-actions
      [selectedFilesForDelete]="selectedFilesForDelete$ | async"
      [allFiles]="(allFilesResponse$ | async)?.files"
      [filesDeleting]="filesDeleting$ | async"
      (startBulkDeleteSelected)="startBulkDeleteSelected($event)"
      (startBulkDeleteAll)="startBulkDeleteAll($event)"
      (stopBulkDeleteSelected)="stopBulkDeleteSelected()"
      (downloadFiles)="downloadFiles()"
      >
      </sc-file-actions>
    </div>
    <div class="table-responsive">
      <div id="table-files_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <sc-dashboard-files-count
            [filesDeleting]="filesDeleting$ | async"
            [selectedCount]="(filesQueryParams$ | async)?.count"
            (changedCount)="onCountChanged($event)">
            </sc-dashboard-files-count>
          </div>
          <div class="col-sm-12 col-md-6">
            <sc-dashboard-files-search
            [filesDeleting]="filesDeleting$ | async"
            [searchTerm]="(filesQueryParams$ | async)?.searchTerm"
            (searchTermChange)="onSearchTermChange($event)">
            </sc-dashboard-files-search>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <sc-dashboard-files-list
              [files]="(filesResponse$ | async)?.files | arraySearch : 'name' : (filesQueryParams$ | async)?.searchTerm"
              [filesQueryParams]="filesQueryParams$ | async"
              [users]="(usersResponse$ | async)?.members"
              [loading]="dashFilesLoading$ | async"
              [selectedFilesForDelete]="selectedFilesForDelete$ | async"
              [filesDeleting]="filesDeleting$ | async"
              (filesQueryParamsChange)="onFilesQueryParamsOverride($event)"
              (fileDetailChange)="getFileDetail($event)"
              (fileDelete)="deleteFile($event)"
              (setAllFilesSelectedForDelete)="setAllFilesSelectedForDelete()"
              (setFileSelectedForDelete)="setFileSelectedForDelete($event)"
            >
            </sc-dashboard-files-list>
          </div>
        </div>
        <div *ngIf="!(filesQueryParams$ | async)?.searchTerm" class="row">
          <div class="col-sm-12 col-md-5">
            <sc-dashboard-files-list-info
            [count]="(filesResponse$ | async)?.paging?.count"
            [total]="(filesResponse$ | async)?.paging?.total"
            [page]="(filesResponse$ | async)?.paging?.page">
            </sc-dashboard-files-list-info>
          </div>
          <div class="col-sm-12 col-md-7">
            <sc-dashboard-files-pagination
              [count]="(filesResponse$ | async)?.paging?.count"
              [total]="(filesResponse$ | async)?.paging?.total"
              [page]="(filesResponse$ | async)?.paging?.page"
              (pageChange)="onPageChange($event)">
            </sc-dashboard-files-pagination>
          </div>
    </div>
      </div>
    </div>
  </div>
</div>
