<div class="card bg-primary-bright border-0">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-2 col-md-3">
        <figure>
          <img class="img-fluid" src="assets/images/upgrade.svg" alt="upgrade">
        </figure>
      </div>
      <div class="col-xl-10 col-md-9">
        <div class="d-md-flex align-items-center justify-content-between text-center text-md-left p-4 p-md-0">
          <div class="mr-3">
            <h4 class="mb-3">Get an Upgrade</h4>
            <p class="text-muted">Get additional space for your documents and files. Expand
              your storage and enjoy your business. Change plan in slack for more space.</p>
            <p class="text-muted">Free plan: 5GB total, Standard plan: 10 GB per team member</p>
            <p class="text-muted">Plus plan: 20 GB per team member, Enterprise Grid	 plan: 1 TB per team member</p>
          </div>
          <div class="flex-shrink-0 ml-3">
            <button (click)="openSlackPricing()" class="btn btn-outline-primary btn-lg2">Upgrade Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h4>Stats</h4>
    <app-dashboard-home-chart [filePercentages]="filePercentages$ | async"></app-dashboard-home-chart>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <div class="row mb-4">
          <div class="col-md-8 offset-md-2">
            <img src="assets/images/report.svg" class="img-fluid" alt="report">
          </div>
        </div>
        <h4 class="my-3">Files statistics</h4>
        <p class="text-muted">This statistic is based on 1000 files ( max we can get from Slack in one call).</p>
      </div>
    </div>
  </div>
</div>

<div class="content-title d-flex justify-content-between">
  <h4>Quick Access</h4>
  <a (click)="setFileType('View All')" class="cursor-pointer">View All</a>
</div>

<div class="row mb-4">
  <div *ngFor="let filePercentage of (filePercentages$ | async) | slice: 1: (filePercentages$ | async)?.length" class="col-md-2 text-center">
    <div (click)="setFileType(filePercentage?.title)" class="card mb-3 cursor-pointer">
      <div class="card-body">
        <a class="avatar avatar-lg">
          <span class="avatar-title rounded-pill {{ (filePercentage?.title | folderColor)?.iconClass }}">
              <i class="{{ (filePercentage?.title | folderColor)?.icon }}"></i>
          </span>
        </a>
      </div>
    </div>
    <h6>{{filePercentage?.title}}</h6>
    <span class="small font-italic">{{ filePercentage?.size }}</span>
  </div>
</div>

<div class="content-title d-flex justify-content-between">
  <h4>Recent Files</h4>
  <a href="#">View All</a>
</div>

<div class="mb-4">
  <div class="table-responsive">
    <table class="table table-borderless table-hover mb-0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Modified</th>
        <th>Label</th>
        <th>Members</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <a href="#">
            <figure class="avatar avatar-sm mr-2">
                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                    <i class="ti-folder"></i>
                                </span>
            </figure>
            User Research
          </a>
        </td>
        <td>2MB</td>
        <td>3/9/19, 2:40PM</td>
        <td>
          <div class="badge bg-warning-bright text-warning">Project</div>
        </td>
        <td>
          <div class="avatar-group">
            <figure class="avatar avatar-sm" title="Lisle Essam"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar2.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                    data-toggle="tooltip">
              <img src="assets/images/man_avatar5.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
          </div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a href="#" class="btn btn-floating" data-toggle="dropdown">
              <i class="ti-more-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
              <a href="#" class="dropdown-item">Share</a>
              <a href="#" class="dropdown-item">Download</a>
              <a href="#" class="dropdown-item">Copy to</a>
              <a href="#" class="dropdown-item">Move to</a>
              <a href="#" class="dropdown-item">Rename</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">
            <figure class="avatar avatar-sm mr-2">
                                <span class="avatar-title bg-warning text-black-50 rounded-pill">
                                    <i class="ti-folder"></i>
                                </span>
            </figure>
            Design Thinking Project
          </a>
        </td>
        <td>10MB</td>
        <td>3/9/19, 2:40PM</td>
        <td>
          <div class="badge bg-secondary-bright text-secondary">Software</div>
        </td>
        <td>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a href="#" class="btn btn-floating" data-toggle="dropdown">
              <i class="ti-more-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
              <a href="#" class="dropdown-item">Share</a>
              <a href="#" class="dropdown-item">Download</a>
              <a href="#" class="dropdown-item">Copy to</a>
              <a href="#" class="dropdown-item">Move to</a>
              <a href="#" class="dropdown-item">Rename</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">
            <figure class="avatar avatar-sm mr-2">
                                <span class="avatar-title rounded-pill">
                                    <i class="ti-file"></i>
                                </span>
            </figure>
            Meeting-notes.doc
          </a>
        </td>
        <td>139KB</td>
        <td>3/9/19, 2:40PM</td>
        <td>
          <div class="badge bg-primary-bright text-primary">Public</div>
        </td>
        <td>
          <div class="avatar-group">
            <figure class="avatar avatar-sm" title="Lisle Essam"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar2.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                    data-toggle="tooltip">
              <img src="assets/images/man_avatar5.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Mella Mixter"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar1.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Jo Hugill"
                    data-toggle="tooltip">
              <img src="assets/images/man_avatar1.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Cullie Philcott"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar5.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="" data-toggle="tooltip"
                    data-original-title="Cullie Philcott">
              <span class="avatar-title bg-primary rounded-circle">+ 5</span>
            </figure>
          </div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a href="#" class="btn btn-floating" data-toggle="dropdown">
              <i class="ti-more-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
              <a href="#" class="dropdown-item">Share</a>
              <a href="#" class="dropdown-item">Download</a>
              <a href="#" class="dropdown-item">Copy to</a>
              <a href="#" class="dropdown-item">Move to</a>
              <a href="#" class="dropdown-item">Rename</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">
            <figure class="avatar avatar-sm mr-2">
                                <span class="avatar-title rounded-pill">
                                    <i class="ti-image"></i>
                                </span>
            </figure>
            Sitemap.png
          </a>
        </td>
        <td>810KB</td>
        <td>3/9/19, 2:40PM</td>
        <td>
          <div class="badge bg-success-bright text-success">Social Media</div>
        </td>
        <td>
          <div class="avatar-group">
            <figure class="avatar avatar-sm" title="Lisle Essam"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar2.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                    data-toggle="tooltip">
              <img src="assets/images/man_avatar5.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Mella Mixter"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar1.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
          </div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a href="#" class="btn btn-floating" data-toggle="dropdown">
              <i class="ti-more-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
              <a href="#" class="dropdown-item">Share</a>
              <a href="#" class="dropdown-item">Download</a>
              <a href="#" class="dropdown-item">Copy to</a>
              <a href="#" class="dropdown-item">Move to</a>
              <a href="#" class="dropdown-item">Rename</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">
            <figure class="avatar avatar-sm mr-2">
                                <span class="avatar-title rounded-pill">
                                    <i class="ti-file"></i>
                                </span>
            </figure>
            Analytics.pdf
          </a>
        </td>
        <td>10KB</td>
        <td>3/9/19, 2:40PM</td>
        <td>
          <div class="badge bg-info-bright text-info">Design</div>
        </td>
        <td>
          <div class="avatar-group">
            <figure class="avatar avatar-sm" title="Lisle Essam"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar2.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Baxie Roseblade"
                    data-toggle="tooltip">
              <img src="assets/images/man_avatar5.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Mella Mixter"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar1.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
            <figure class="avatar avatar-sm" title="Mella Mixter"
                    data-toggle="tooltip">
              <img src="assets/images/women_avatar4.jpg"
                   class="rounded-circle"
                   alt="image">
            </figure>
          </div>
        </td>
        <td class="text-right">
          <div class="dropdown">
            <a href="#" class="btn btn-floating" data-toggle="dropdown">
              <i class="ti-more-alt"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
              <a href="#" class="dropdown-item">Share</a>
              <a href="#" class="dropdown-item">Download</a>
              <a href="#" class="dropdown-item">Copy to</a>
              <a href="#" class="dropdown-item">Move to</a>
              <a href="#" class="dropdown-item">Rename</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="content-title d-flex justify-content-between">
  <h4>Last Activities</h4>
</div>

<div class="timeline">
  <div class="timeline-item">
    <div>
      <figure class="avatar mr-3">
        <span class="avatar-title bg-success rounded-circle">j</span>
      </figure>
    </div>
    <div>
      <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        A file of <a href="#" class="link-1">Jonny Richie</a> has been shared.
                    </span>
        <span class="text-muted font-weight-normal">4h</span>
      </h6>
      <div class="avatar-group">
        <figure class="avatar" title="Lisle Essam"
                data-toggle="tooltip">
          <img src="assets/images/women_avatar2.jpg"
               class="rounded-circle"
               alt="image">
        </figure>
        <figure class="avatar" title="Baxie Roseblade"
                data-toggle="tooltip">
          <img src="assets/images/man_avatar5.jpg"
               class="rounded-circle"
               alt="image">
        </figure>
        <figure class="avatar" title="Baxie Roseblade"
                data-toggle="tooltip">
          <span class="avatar-title bg-secondary rounded-pill">A</span>
        </figure>
        <figure class="avatar" title="Jo Hugill"
                data-toggle="tooltip">
          <img src="assets/images/man_avatar1.jpg"
               class="rounded-circle"
               alt="image">
        </figure>
        <figure class="avatar" title="Cullie Philcott"
                data-toggle="tooltip">
          <img src="assets/images/women_avatar5.jpg"
               class="rounded-circle"
               alt="image">
        </figure>
        <figure class="avatar" title="Cullie Philcott"
                data-toggle="tooltip">
          <span class="avatar-title bg-warning rounded-pill">Z</span>
        </figure>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div>
      <figure class="avatar mr-3">
        <span class="avatar-title bg-warning rounded-circle">M</span>
      </figure>
    </div>
    <div>
      <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Marc Hugill</a> uploaded new files
                    </span>
        <span class="text-muted font-weight-normal">Tue 8:17pm</span>
      </h6>
      <div class="card card-body mb-3 d-flex justify-content-between flex-row">
        <div>
          <a href="#">
            <i class="fa fa-file-pdf-o mr-2"></i> test-file-1.pdf
          </a>
          <span class="ml-3 small">70 KB</span>
        </div>
        <div>
          <a href="#" title="View file">
            <i class="ti-eye"></i>
          </a>
        </div>
      </div>
      <div class="card card-body mb-3 d-flex justify-content-between flex-row">
        <div>
          <a href="#">
            <i class="fa fa-file-excel-o mr-2"></i> test-file-2.xlsx
          </a>
          <span class="ml-3 small">17 KB</span>
        </div>
        <div>
          <a href="#" title="View file">
            <i class="ti-eye"></i>
          </a>
        </div>
      </div>
      <div class="card card-body mb-3 d-flex justify-content-between flex-row">
        <div>
          <a href="#">
            <i class="fa fa-file-text-o mr-2"></i> test-file-3.txt
          </a>
          <span class="ml-3 small">152 KB</span>
        </div>
        <div>
          <a href="#" title="View file">
            <i class="ti-eye"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-item">
    <div>
      <figure class="avatar mr-3">
        <img src="assets/images/women_avatar5.jpg" class="rounded-circle" alt="avatar">
      </figure>
    </div>
    <div>
      <h6 class="d-md-flex justify-content-between mb-3">
                    <span class="d-block">
                        <a href="#" class="link-1">Cullie Philcott</a> uploaded a picture
                    </span>
        <span class="text-muted font-weight-normal">Tue 8:17pm</span>
      </h6>
      <div class="row row-xs">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
          <figure>
            <img src="assets/images/portfolio-five.jpg"
                 class="w-100 border-radius-1" alt="image">
          </figure>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
          <figure>
            <img src="assets/images/portfolio-one.jpg"
                 class="w-100 border-radius-1" alt="image">
          </figure>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sx-6">
          <figure>
            <img src="assets/images/portfolio-three.jpg"
                 class="w-100 border-radius-1" alt="image">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
