<!-- Preloader
<div class="preloader">
  <div class="preloader-icon"></div>
</div>
 ./ Preloader -->

<!-- Layout wrapper -->
<div class="layout-wrapper">
  <!-- Header -->
    <sc-header
    [profile]="profile$ | async"
    [usedStoragePercentage]="usedStoragePercentage$ | async"
    [profileLoading]="profileLoading$ | async"
    (signOut)="signOut()"
    (changeTheme)="setTheme(true)"
    >
    </sc-header>
  <!-- ./ Header -->

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- begin::navigation -->
    <sc-sidebar></sc-sidebar>
    <!-- end::navigation -->

    <!-- Content body -->
    <div class="content-body">
      <!-- Content -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <!-- ./ Content -->

      <!-- Footer -->
      <footer class="content-footer d-print-none">
        <div>© 2020 Slack Cleaner</div>
        <div>
          <nav class="nav">
            <a href="https://twitter.com/NgQuad" target="_blank" class="nav-link">Get Help</a>
          </nav>
        </div>
      </footer>
      <!-- ./ Footer -->
    </div>
    <!-- ./ Content body -->

    <!-- Sidebar group -->
    <sc-sidebar-right
      [filePercentages]="filePercentages$ | async"
      [filesLoading]="filesLoading$ | async"
      [usedStoragePercentage]="usedStoragePercentage$ | async"
      [fileDetail]="fileDetail$ | async"
      [fileDetailLoading]="fileDetailLoading$ | async"
    >
    </sc-sidebar-right>
    <!-- ./ Sidebar group -->
  </div>
  <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->
