<!-- Sidebar group -->
<div class="sidebar-group d-print-none">
  <!-- Sidebar - Storage -->
  <sc-sidebar-storage
    [filePercentages]="filePercentages"
    [filesLoading]="filesLoading"
    [value]="usedStoragePercentage"
  >
  </sc-sidebar-storage>
  <!-- ./ Sidebar - Storage -->

  <!-- Sidebar - File info -->
  <sc-sidebar-file-info
  [fileDetail]="fileDetail"
  [fileDetailLoading]="fileDetailLoading">
  </sc-sidebar-file-info>
  <!-- ./ Sidebar - file info -->

  <!-- Sidebar - Settings -->
  <div class="sidebar" id="settings">
    <div class="sidebar-header">
      <h4>Settings</h4>
      <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
        <i class="ti-angle-right"></i>
      </a>
    </div>
    <div class="sidebar-content">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
            <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
            <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
            <label class="custom-control-label" for="customSwitch4">Hide menus</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch6">
            <label class="custom-control-label" for="customSwitch6">Enable report
              generation.</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./ Sidebar - Settings -->
</div>
<!-- ./ Sidebar group -->
