<!-- Sidebar group -->
<div class="sidebar-group d-print-none">
  <!-- Sidebar - Storage -->
  <sc-sidebar-storage
    [filePercentages]="filePercentages"
    [filesLoading]="filesLoading"
    [value]="usedStoragePercentage"
  >
  </sc-sidebar-storage>
  <!-- ./ Sidebar - Storage -->

  <!-- Sidebar - File info -->
  <div class="sidebar" id="view-detail">
    <div class="sidebar-header">
      <h4>View Detail</h4>
      <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
        <i class="ti-angle-right"></i>
      </a>
    </div>
    <div class="sidebar-content">
      <figure class="avatar mb-4">
                        <span class="avatar-title bg-info-bright text-info rounded-pill">
                            <i class="ti-file"></i>
                        </span>
      </figure>
      <div class="row mb-3">
        <div class="col-md-5">File name:</div>
        <div class="col-md-7"><a href="#" class="link-1">Meeting-notes.doc</a></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5">File type:</div>
        <div class="col-md-7">Word File</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5">File size:</div>
        <div class="col-md-7">22 KB</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5">Created:</div>
        <div class="col-md-7">Monday, July 02, 2020 9:34am</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5">Modified:</div>
        <div class="col-md-7 text-success">Monday, July 02, 2020 9:34am</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-5">Accessed:</div>
        <div class="col-md-7">Monday, July 03, 2020 10:22am</div>
      </div>
    </div>
    <div class="sidebar-footer">
      <button class="btn btn-lg btn-block btn-primary">
        <i class="ti-share mr-3"></i> Share
      </button>
    </div>
  </div>
  <!-- ./ Sidebar - file info -->

  <!-- Sidebar - Settings -->
  <div class="sidebar" id="settings">
    <div class="sidebar-header">
      <h4>Settings</h4>
      <a href="#" class="btn btn-light btn-floating sidebar-close-btn">
        <i class="ti-angle-right"></i>
      </a>
    </div>
    <div class="sidebar-content">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
            <label class="custom-control-label" for="customSwitch1">Allow notifications.</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
            <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
            <label class="custom-control-label" for="customSwitch4">Hide menus</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
          </div>
        </li>
        <li class="list-group-item pl-0 pr-0">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch6">
            <label class="custom-control-label" for="customSwitch6">Enable report
              generation.</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./ Sidebar - Settings -->
</div>
<!-- ./ Sidebar group -->
