.sign-in-button {
  width: 250px;
  border-radius: 10px;
  opacity: 0.7;
  background-color: white;
  border: 1.5px solid rgb(218, 85, 47);
}

.sign-in-button:hover {
  opacity: 1;
  transition: all 0.3s;
}

.sign-in-button .text {
  color: rgb(218, 85, 47);
  font-weight: bold;
  font-size: larger;
}

.feature-icon::before {
  display: none;
}

.fa.fa-2x {
 color: white;
}

.boxed-container {
  max-width: 100%;
}
