<div class="card bg-primary-bright border-0">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-2 col-md-3">
        <figure>
          <img class="img-fluid" src="assets/images/upgrade.svg" alt="upgrade">
        </figure>
      </div>
      <div class="col-xl-10 col-md-9">
        <div class="d-md-flex align-items-center justify-content-between text-center text-md-left p-4 p-md-0">
          <div class="mr-3">
            <h4 class="mb-3">Get an Upgrade</h4>
            <p class="text-muted">Get additional space for your documents and files. Expand
              your storage and enjoy your business. Change plan in slack for more space.</p>
            <p class="text-muted">Free plan: 5GB total, Standard plan: 10 GB per team member</p>
            <p class="text-muted">Plus plan: 20 GB per team member, Enterprise Grid	 plan: 1 TB per team member</p>
          </div>
          <div class="flex-shrink-0 ml-3">
            <button (click)="openSlackPricing()" class="btn btn-outline-primary btn-lg2">Upgrade Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
