.dropdown-menu .dropdown-item:hover {
  background-color: #0062ff;
  text-decoration: none;
  color: white;
}

.dropdown-menu .dropdown-item.active {
  background-color: #0062ff;
  text-decoration: none;
  color: white;
}
