<table *ngIf="files?.length" id="table-files" class="table table-borderless table-hover dataTable no-footer">
  <thead>
  <tr>
    <th>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="files-select-all">
        <label class="custom-control-label" for="files-select-all"></label>
      </div>
    </th>
    <th>Name</th>
    <th class="sorting"
        (click)="onDateChange(filesQueryParams?.date === filesSortByDateEnum.newest)"
        [ngClass]="!!filesQueryParams?.date ? (filesQueryParams?.date === filesSortByDateEnum.newest ? 'sorting_desc' : 'sorting_asc') : ''"
        tabindex="0" aria-controls="table-files" rowspan="1" colspan="1">Created</th>
    <th>Type</th>
    <th>User</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files; let index = index">
    <td class="dt-body-center"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck{{ index }}"><label class="custom-control-label" for="customCheck{{ index }}"></label></div></td>
    <td>
      <a class="d-flex align-items-center">
        <figure class="avatar avatar-sm mr-3">
            <span class="avatar-title {{ (file?.filetype | fileType)?.imageClass }} text-black-50 rounded-pill">
                <i class="{{ (file?.filetype | fileType)?.icon }}"></i>
            </span>
        </figure>
        <span class="d-flex flex-column max-width-200">
              <span class="text-primary">{{file?.name}}</span>
              <span class="small font-italic">{{ file?.size | formatBytes }}</span>
          </span>
      </a>
    </td>
    <td>{{ file?.created | timeAgoPipe }}</td>
    <td>
      <div class="badge {{ (file?.filetype | fileType)?.badgeClass }}">{{ file?.filetype }}</div>
    </td>
    <td>
      <div class="avatar-group">
        <figure class="avatar avatar-sm" title="{{ (file?.user | getUserProfile : users)?.real_name }}"
                data-toggle="tooltip">
          <img src="{{ (file?.user | getUserProfile : users)?.image_32 }}"
               class="rounded-circle"
               alt="image">
        </figure>
      </div>
    </td>
    <td class="text-right">
      <div class="dropdown">
        <a href="#" class="btn btn-floating" data-toggle="dropdown">
          <i class="ti-more-alt"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" data-sidebar-target="#view-detail">View Details</a>
          <a class="dropdown-item">Share</a>
          <a class="dropdown-item">Download</a>
          <a class="dropdown-item">Delete</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!files?.length" class="no-files">
  <div class="title mt-0"><h4>No files found</h4></div>
  <img class="no-files" width="500" height="500" src="assets/images/mean_at_work.svg" alt="no files found"/>
</div>
