.max-width-200 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-files {
  width: 50%;
  height: 57%;
  margin: 60px auto;
  display: block;
}

.title.mt-0 {
  text-align: center;
}

.mg-left-35 {
  margin-left: -35px;
}
